canvas {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}

.mask-canvas {
    margin-top: -470px;
}

.button-group {
    margin: 10px auto;
    text-align: center;
}

.main-page-content-margin {
    margin-top: 20px;
}

.push-down {
    padding-top: 10px;
}

.horizontal-center {
    display: block;
    text-align: center;
}

.label-text {
    font-size: xx-large;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50%;
    margin-top: -20px;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('ajax-loader.gif') 50% 50% no-repeat;
}

.overlay-visible {
    overflow: hidden;
    display: block;
}
